// Specific CSS for your home-page
@import "home-banner";

a{
  text-decoration: none;
}

.text-center {
  margin-top: 1rem;
}

.card-product {
  height: 300px;
  background: #F4F4F4;
  margin: 20px 0;
  border-radius: 18px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-product > img {
  height: 230px;
  width: 100%;
  border-radius: 18px 18px 0 0;
  object-fit: cover;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  color: black;
}

.card-product-infos-left > p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0 !important;
}

.card-product .card-product-infos {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
  padding: 8px 16px;
}

.card-product-infos .card-product-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}
