.banner {
  background-size: cover;
  background-position: center;
  background-image: url('https://img.freepik.com/free-photo/living-room-scandinavian-interior-design_53876-146865.jpg?w=1480&t=st=1653487309~exp=1653487909~hmac=c249f2a6e414e864190307761ed0eeb6ae743e2600bc0dbc2130b9645f9cbdff');
  padding: 0;
  height: 66vh;
}

.banner h1 {
  margin: 0;
  color: #B37C4C;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 56px;
  font-weight: bold;
}

.banner p {
  font-size: 16px;
  color: #A09FC5;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}
