// Specific CSS for your show-page

.card.p-3.mt-1{
  border-radius: 15px;
  background: #ffffff;
  box-shadow:  31px 31px 98px #e3e3e3, -31px -31px 98px #ffffff;
  padding: 10px;
}

.p-3.bg-white{
  border-radius: 15px;
  background: #ffffff;
  box-shadow:  31px 31px 98px #e3e3e3, -31px -31px 98px #ffffff;
}

.container > .row > .col-md-8{
  margin: auto
;}

.alert.alert-warning.mt-1{
  margin: 10px;
}

.d-flex.bd-highlight.text-muted{
  border-radius: 11px;
  background: #ffffff;
  margin: 12%;
  padding: 13px;
}

.secondary-button{
  display: inline-block;
  color: rgb(225, 172, 59);
  text-align: center;
  font-size: 20px;
  padding: 7px;
  width: 120px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  cursor: pointer;
  margin: 2px;
}

.secondary-button a{
  text-decoration: none;
  color: rgb(225, 172, 59);
}

.secondary-button a:hover{
  color: rgb(189, 157, 88);
}

.fa-solid.fa-angles-left{
  color: rgb(225, 172, 59);
  text-decoration: none;
}
