<div class="d-flex bd-highlight text-muted mx-auto w-75 px-auto">
  <%= simple_form_for([@furniture, @booking]) do |f| %>
    <div class="flex-grow-1 bd-highlight d-flex mx-auto">
      <p class="border-right mx-auto"><%= f.input :start_date %></p>
    </div>
    <div class="flex-shrink-1 bd-highlight  d-flex mx-auto">
      <p class="border-left mx-auto"><%= f.input :end_date %></p>
    </div>
  <% end %>
</div>
