<div class="banner margin-bottom:20px d-flex justify-content-between my-3">
  <a href="/furnitures?search=chair" class="btn btn-flat fas fa-xl fa-chair"></a>
  <a href="/furnitures?search=couch" class="btn btn-flat fas fa-xl fa-couch"></a>
  <a href="/furnitures?search=bed" class="btn btn-flat fas fa-xl fa-bed"></a>
  <a href="/furnitures?search=tv" class="btn btn-flat fas fa-xl fa-tv"></a>
  <a href="/furnitures?search=kitchen-set" class="btn fa-solid fa-xl fa-kitchen-set"></a>
  <a href="/furnitures?search=lamp" class="btn-icons"><%= image_tag "lamp.png" %></a>
  <a href="/furnitures?search=fridge" class="btn-icons"><%= image_tag "fridge.png" %></a>

  <button type="button" class="border border-secondary rounded-pill bg-transparent ">
    <i class="fas fa-sort"></i>
    Filter
  </button>
</div>
