<div class="d-flex justify-content-around my-3">
  <a class="btn btn-flat fas fa-chair"></a>
  <a class="btn btn-flat fas fa-couch"></a>
  <a class="btn btn-flat fas fa-bed"></a>
  <a class="btn btn-flat fas fa-tv"></a>
  <button type="button" class="border border-secondary rounded-pill bg-transparent ">
    <i class="fas fa-sort"></i>
    Filter
  </button>
</div>
