<div class="footer">
  <ul class="footer-links">
    <li><a href="#">Politique de confidentialité</a></li>
    <li><a href="#">Conditions d'utilisation</a></li>
    <li><a href="#"><i class="fab fa-instagram"></i></a></li>
    <li><a href="#"><i class="fab fa-facebook"></i></a></li>
    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
    <li><a href="#">Nous contacter</a></li>
    <li><a href="#">Détails de l'entreprise</a></li>
  </ul>
</div>
