<div class="sticky-bottom">
  <div class="footer d-flex justify-content-center">
    <ul class="list-group list-group-horizontal">
      <li class="list-group-item border-0"><a href="#">·Confidentialité</a></li>
      <li class="list-group-item border-0"><a href="#">·Conditions générales</a></li>
      <li class="list-group-item border-0"><a href="#">·Plan du site</a></li>
      <li class="list-group-item border-0"><a href="#">·Fonctionnement du site</a></li>
      <li class="list-group-item border-0"><a href="#">·Infos sur l'entreprise</a></li>
    </ul>
  </div>

  <div class="footer-links d-flex justify-content-center bg-white">
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
  </div>
</div>
