<div class="banner">
  <div class="container p-4">
    <h1>Trouvez, choisissez <br> et louer vos meubles</h1>
    <p>Changer votre vie, vos habitudes et louez vos meubles.</p>
    <%= link_to "Toutes les annonces", furnitures_path, class: "btn rounded-pill shadow-none button" %>
  </div>
</div>
