<div class="banner">
  <div class="container p-4">
    <h1>Find, choose <br> and rent your furnitures</h1>
    <p>Change your life, your habit and rent your furnitures.</p>
    <%= link_to "All furnitures", furnitures_path, class: "btn rounded-pill shadow-none button" %>
  </div>
</div>
