<% if @furnitures != nil %>
  <div class="icons margin-bottom:20px d-flex justify-content-around">
    <a href="/furnitures?search=chaise" class="btn btn-flat shadow-none fas fa-lg fa-chair"></a>
    <a href="/furnitures?search=canapé" class="btn btn-flat shadow-none fas fa-lg fa-couch"></a>
    <a href="/furnitures?search=lit" class="btn btn-flat shadow-none fas fa-lg fa-bed"></a>
    <a href="/furnitures?search=tv" class="btn btn-flat shadow-none fas fa-lg fa-tv"></a>
    <a href="/furnitures?search=meuble de cuisine" class="btn btn-flat shadow-none fa-solid fa-lg fa-kitchen-set"></a>
    <a href="/furnitures?search=lampe" class="btn-icons btn-flat"><img src="https://res.cloudinary.com/do9ctd3bd/image/upload/v1653487142/lamp_zqtqf4.png" alt=""></a>
    <a href="/furnitures?search=bibliothèque et étagère" class="btn-icons btn-flat"><img src="https://res.cloudinary.com/do9ctd3bd/image/upload/v1653487142/fridge_d0uusw.png" alt=""></a>
  </div>
<% end %>
