<div class="border border-secondary rounded-pill d-flex p-2">

  <a href="index/#map" class="border-0 border-end border-secondary bg-transparent">Localisation</a>

  <button type="button" class="border-0 border-end border-secondary bg-transparent">Duration</button>
  <form action="/furnitures" method="get">
    <input type="text" name="search" class="border-0 border-end border-secondary bg-transparent placeholder-padding" placeholder='Small table, chair...' style='font-style: italic;'/>
    <button name="button" type="submit" class="border-0 bg-transparent">
      <i class="fas fa-search"></i>
    </button>
  </form>
</div>
