<div class="border border-secondary rounded-pill">
  <button type="button" class="border-0 border-end bg-transparent">Localisation</button>
  <button type="button" class="border-0 border-end bg-transparent">Duration</button>
  <form action="/furnitures" method="get">
    <input type="text" name="search" class="bg-transparent border-0 border-end" />
    <button name="button" type="submit" class="border-0 bg-transparent">
      <i class="fas fa-search"></i>
    </button>
  </form>

</div>
