<div class="border border-secondary rounded-pill d-flex p-2">

  <a href="#map" class="text-dark px-2 border-0 border-end border-secondary bg-transparent">Localisation</a>

  <button type="button" class="border-0 border-end border-secondary bg-transparent">Durée</button>
  <form action="/furnitures" method="get">
    <input type="text" name="search" class="border-0 border-end border-secondary bg-transparent placeholder-padding" placeholder='Petite table, chaise...' style='font-style: italic;'/>
    <button name="button" type="submit" class="border-0 bg-transparent">
      <i class="fas fa-search"></i>
    </button>
  </form>
</div>
