.btn-new-furniture{
  color: #e9ab01e8;
  font-weight: 400;
  font-size: 15px;
  padding: 12px;
  border: none;
  // background-color: #e9ab01e8;
  // opacity: 0.5;
  border: 1px solid;
  border-radius: 50rem;
  margin-left: 25px;
  transition: .5s;
  position: absolute;
  top: 25px;
  right: 5px;;
}

.btn-new-furniture:hover{

  background-color: #e9ab01e8;
  color: #ffff;
}

.see-all {
  position: relative;
  display: flex;
  margin-top: 40px;
  margin-left: 25px;

}

.title-index {
  margin-top: 18px;
  border-bottom: 3px solid #0000;
}
