body {
  min-height:100vh; /* 1 */
	display:flex; /* 2 */
	flex-direction:column; /* 3 */
}

.footer {
  position: absolute;
  bottom: 0;
  background-color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 50px;
  padding: 0;
  color: rgba(0,0,0,0.3);
}
.footer-links {
  display: flex;
  align-items: center;
  vertical-align: middle;
  margin-top: 1rem;
}
.footer-links a {
  color: black;
  opacity: 0.5;
  text-decoration: none;
  font-size: 14px;
  padding: 0px 10px;
  color: #969696;
}
.footer-links a:hover {
  opacity: 1;
  text-decoration: none;
  color: black;
}
i {
  color: #969696;
  padding: 10px;
  opacity: 0.5;
}
i:hover {
  opacity: 1;
  color: black;
}
