// Import your components CSS files here.
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');
@import "alert";
@import "avatar";
@import "form_legend_clear";
@import "navbar";
@import "footer";
@import "icon";
@import "logo";
@import "button";

body {
  background-color: #476a7653;
  font-family: 'Lato', sans-serif;
}

h2{
  font-family: 'Lato', sans-serif;
}
