<div class="navbar">
<h1>Furnitures#index</h1>
<%= link_to "Back to home page", root_path %>
</div>

<p>Find me in app/views/furnitures/index.html.erb</p>


<h2>See all our furnitures:</h2>

<% @furnitures.each do |furniture| %>
  <ul>
    <li><%= link_to furniture.name.capitalize, furniture_path(furniture.id)  %></li>
    <li><strong>Description: </strong><%= furniture.description %></li>
  </ul>
<% end %>
