<br>
<div class="secondary-button fs-5">
  <a href="<%= furnitures_path %>">
    <i class="fa-solid fa-angles-left"></i>
  </a>
  <%= link_to "Retour", furnitures_path %>
</div>
<p><%= render "form", furniture: @furniture %></p>
