<h1>Furnitures#show</h1>
<p>Find me in app/views/furnitures/show.html.erb</p>

<h2><%= @furniture.name %></h2>
<p><%= @furniture.description %></p>

<p><%#= link @furniture %></p>

<p><%= link_to "add booking", new_furniture_booking_path(@furniture) %></p>
